.container{
    background-color: oldlace;
}

.red{
    background-color: lightcoral;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightskyblue;
}

.floater-section{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix{
    clear: both;
}

@media(min-width:768px){
    .floater-section{
        width: 33.3333%;
    }
}