@import url('https://fonts.googleapis.com/css?family=Margarine');

body{
    background-color: palegoldenrod;
}
.red{
    background-color: #f99a9a;
}

.beachblue{
    background-color: rgb(0, 132, 209);
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.seafoam {
    background-color: rgba(67, 222, 176, 0.68);
}

.peach{
    background-color: rgb(241, 169, 126);
}

.content {
    position: relative;
}

#vertCenter1,
#vertCenter2,
#vertCenter3,
#vertHorizCenter1 {
    height: 200px;
}

#vertHorizCenter2 {
    height: 325px;
}

#vertCenter1 img {
    margin-left: 85px;
    position: absolute;
    height: 170px;
    margin-top: -85px;
    top: 50%;
    display: block;
}

#vertCenter3 img {
    margin-left: 70px;
    position: absolute;
    height: 170px;
    margin-top: -85px;
    top: 50%;
    display: block;
}

#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0px;
}

#vertHorizCenter1 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 35px;
    margin-left: -183px;
    margin-top: -55px;
    background-color: beige;
}

#vertHorizCenter2 p {
    width: 237px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    text-align: justify;
} 

h2{
    text-align: center;
    font-family: 'Margarine', cursive;
    font-size: 25px;
    color: rgb(27, 35, 146);
}