.container{
    margin: auto;
    background-color: #020202;
}

.floater-section{
    float: left;
    width: 100%;
    min-height: 230px;
    margin-bottom: 0px;
}

.floater-section1{
    float: left;
    width: 100%;
    min-height: 90px;
    margin-bottom: 0px;
}

.floater-section1 h1{
    width: 237px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    text-align: center;
}

.floater-section2{
    float: left;
    width: 100%;
    min-height: 230px;
    margin-bottom: 0px;
    margin-top: 87px;
}

.floater-section3{
    float: left;
    width: 100%;
    min-height: 230px;
}

.floater-sectionmenu{
    float: left;
    width: 100%;
    min-height: 600px;
    margin-bottom: 0px;
}

.clearfix{
    clear: both;
}

.clearfix1{
    clear:both; 
}

.menu-container{
    background-color: #020202;
}

/*----------SMALL SCREENS----------*/
@media(min-width:450px){
    .clearfix{
        margin-bottom: 20px;
        clear: both;
    }

    .floater-section{
        float: left;
        min-height: 260px;
        margin-bottom: 0px;
    }

    .floater-section1{
        float: left;
        margin-bottom: 0px;
    }

    .floater-section2{
        float: left;
        margin-bottom: 0px;
        margin-top: 0px;
        min-height: 200px;
    }

    .floater-section1 h1{
        width: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 70px;
        text-align: center;
    }

    .floater-sectionmenu{
        float: left;
        width: 100%;
        min-height: 700px;
        margin-bottom: 0px;
    }

    .floater-section3{
        min-height: 0px;
    }
   
    .small-width-25{
        width: 25%;
    }

    .small-width-33{
        width: 33.3333%;
    }

    .small-width-50{
        width: 50%;
    }

    .small-width-66{
        width: 66.6666%;
    }

    .small-width-75{
        width: 75%;
    }

    .small-width-100{
        width: 100%;
    }
}

/*----------MEDIUM SCREENS----------*/
@media(min-width:768px){
    .clearfix{
        clear: both;
    }
   
    .medium-width-25{
        width: 25%;
    }

    .medium-width-33{
        width: 33.3333%;
    }

    .medium-width-50{
        width: 50%;
    }

    .medium-width-66{
        width: 66.6666%;
    }

    .medium-width-75{
        width: 75%;
    }

    .medium-width-100{
        width: 100%;
    }
}

/*----------LARGE SCREENS----------*/
@media(min-width:992px){
    .clearfix{
        clear: both;
    }
    
    .large-width-25{
        width: 25%;
    }

    .large-width-33{
        width: 33.3333%;
    }

    .large-width-50{
        width: 50%;
    }

    .large-width-66{
        width: 66.6666%;
    }

    .large-width-75{
        width: 75%;
    }

    .large-width-100{
        width: 100%;
    }
}