@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

body{
    margin: 0px;
}

nav{
    background-color: white;
    width: 100%;
    height: 120px;
}

nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: none;
    height: 110px;
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #020202;
    line-height: 36px;
    font-family: 'Raleway', sans-serif;
}

.active-link{
    font-weight: 900;
}

.display-toggle{
    position: absolute;
    padding: 3px;
    width: 40px;
    float: right;
    top: 1px;
    right: 5px;
}

.display-toggle .stripe{
    margin-bottom: 5px;
    display: block;
    height: 1px;
    width: 10px;
    margin-top: 4px;
}

.display-toggle .stripe::before{
    content: '';
    position: absolute;
    width: 21px;
    border-top: 3px solid #020202;
}

.display-toggle:hover + ul{
    display: block;
}

#logo{
    height: 110px;
    float: left;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.content .img-container{
    min-height: 212px;
    background-image: url(../Assignment_06/assests/images/mnm-all-551345-unsplash.jpg);
    background-size: cover;
}

.content img{
    max-width: 100%;
    
}

.content{
    position: relative;
}

#burger{
    max-width:100%;
    min-height: 150px;
    position: relative;
    }

p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    }

#p1{
    margin-top: 40px;
    }

#p2{
        margin-top: 26px;
    }

.img-containermenu{
    text-align: center;
}

#menu{
    margin-top:30px;
    }

#p-about{
    line-height: 35px;
    font-size: 20px;
    margin: 20px 20px;
    text-align: left;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}



@media(min-width:450px){
    nav{
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    
    nav ul{
        display: block;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        margin-right: 25px;
        text-align: right;
    }

    nav li{
        margin-right: 3px;
        display: inline-block;
        border-bottom: 0px;
        font-size: 16px;
        margin-top: 40px;
        margin-left: 5px;
    }
    
    nav a{
        font-size: 22px;
        text-decoration: none;
        color: #020202;
        line-height: 36px;
        font-family: 'Raleway', sans-serif;
        padding-right: 10px;
    }
    
    .display-toggle{
        display: none;
    }

    #logo{
        position: relative;
    }

    .content .img-container{
        min-height: 320px;
    }

    #p1{
        margin-top: 80px;
        }
    
    #p2{
        margin-top: 75px;
        }
    
}

@media(min-width:768px){
    #restaurant{
        min-height: 600px;
    }

    #p1{
        margin-top: 140px;
        font-size: 22px;
        text-align: left;
        }
    
    #p2{
        margin-top: 120px;
        font-size: 22px;
        text-align: left;
        }
    
    .content .img-container{
        min-height: 420px;
        }
}

@media(min-width:992px){
    #restaurant{
        min-height: 670px;
    }

    #p1{
        margin-top: 175px;
        font-size: 24px;
        text-align: left;
        margin-left: 30px;
        }
    
    #p2{
        margin-left: -60px;
        margin-top: 160px;
        font-size: 24px;
        text-align: left;
        }

    .content .img-container{
        min-height: 520px;
        }
}
