@import url('https://fonts.googleapis.com/css?family=Boogaloo|Neucha');


body{
    margin: 0px;
}

.container{
    background-color: #63ADF2;
    border-radius: 17px;
    border: 7px solid #181e20;
    text-align: center;
    font-size: 30px;
    margin: 40px auto;
}

.container img{
    width: 75%; 
    padding: 8px;
}

.floater-section{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix{
    clear: both;
}

nav.navbar{
    background-color: #FCFF6C;
    width: 100%;
    padding: 10px 0px;
}

nav.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav.navbar a{
    font-size: 22px;
    text-decoration: none;
    color: #292F36;
    line-height: 36px;
    font-family: 'Boogaloo', cursive;
}

.active-link{
    border-bottom: 2px solid rgb(102, 74, 102);
    margin: 0px 100px;
    font-weight: 700;
}

h1, h2, p{
    text-align: center;
}

h2{
    margin-bottom: 0px;
    font-family: 'Neucha', cursive;
}

h1{
    margin-top: 10px;
    font-family: 'Boogaloo', cursive;
    font-size: 80px;
    margin: 30px auto;
}

p{
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    font-family: 'Neucha', cursive;
}

/*----------SMALL SCREENS----------*/
@media(min-width: 450px){
    .small-width-25{
        width: 25%;
    }

    .small-width-33{
        width: 33.3333%;
    }

    .small-width-50{
        width: 50%;
    }

    .small-width-100{
        width: 100%;
    }
}

/*----------MEDIUM SCREENS----------*/
@media(min-width: 768px){
    .container{
        background-color: #AB9DF0;
    }  

    .active-link{
        margin: 0px;
    }

    nav.navbar li{
        display: inline-block;
        padding: 0px 20px;
    }

    .medium-width-25{
        width: 25%;
    }

    .medium-width-33{
        width: 33.3333%;
    }

    .medium-width-50{
        width: 50%;
    }

    .medium-width-100{
        width: 100%;
    }
}

/*----------LARGE SCREENS----------*/
@media(min-width: 992px){
    .container{
        background-color: #1FB5E2;
    }

    .large-width-25{
        width: 25%;
    }

    .large-width-33{
        width: 33.3333%;
    }

    .large-width-50{
        width: 50%;
    }

    .large-width-100{
        width: 100%;
    }
}