.content{
    padding: 0px 10px;
    min-height: 500px;
    border-bottom: 2px solid plum;
    position: relative;
}

.content .img-container{
    min-height: 200px;
}

.content img{
    max-width: 100%;
}

.content .abs-pos{
    position: absolute;
}