/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgb(190, 15, 15);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav ul {
    display: none;
    list-style: none;
    padding-left: 0px;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgb(19, 18, 18);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 20px;
    min-height: 20px;
    padding: 11px;
  }

  .bars{
    width: 25px;
    height: 5px;
    background-color: whitesmoke;
    margin: 3px 0px;
}

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgba(23, 69, 100, 1);
    color: white;
  }

  /*----------SMALL SCREENS----------*/
@media(min-width:450px){
    .container{
        width: 440px;
    }

    .small-width-25{
        width: 25%;
    }

    .small-width-33{
        width: 33.3333%;
    }

    .small-width-50{
        width: 50%;
    }

    .small-width-66{
        width: 66.6666%;
    }

    .small-width-75{
        width: 75%;
    }

    .small-width-100{
        width: 100%;
    }
}