@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');



/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-image: linear-gradient(red, yellow);
    position: relative;
    font-family: 'Poiret One', cursive;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav ul {
    display: none;
    list-style: none;
    padding-left: 0px;
  }
  
  /* Style navigation menu links */
  .topnav a {
    font-weight: 600;
    letter-spacing: 2px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
  }

  #myLinks li a{
      color: rgba(23, 69, 100, 1);
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 20px;
    min-height: 20px;
    padding: 11px;
    
  }

  li{
    text-shadow: 0px 1px #ddd;
  }

  .bars{
    margin: -4px;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: rgba(23, 69, 100, 1);
    text-shadow: 0px 1px white;
}

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgba(23, 69, 100, 1);
    color: white;
  }

  .container{
    margin: auto;
}

.floater-section{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix{
    clear: both;
}

.container img{
    width: 100%;
    margin: 20px 0px 10px 0px;
}

h1{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 48px;
    margin-bottom: 4px;
    color: rgba(23, 69, 100, 1);
    text-shadow: 2px 3px #ddd;
}

#about{
    margin-top: 50px;
}
h2{
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    margin-top: 0px;
    color: rgba(23, 69, 100, 1);
}

 .blogText{
    text-align: center;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    margin-top: 0px;
    color: rgba(23, 69, 100, 1);
}

#history{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
}

h3{
    font-family: 'Poiret One', cursive;
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    color: rgba(23, 69, 100, 1);
    background-image: linear-gradient(#ff7d0f, yellow);
    padding: 7px 0px 10px 0px;
    text-shadow: 0px 1px #ddd;
}

p{
    text-shadow: 0px 2px #ddd;
    text-align: justify;
    line-height: 27px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: rgba(23, 69, 100, 1);
    font-weight: 600;
    padding: 0px 10px 20px 10px;
    margin-top: 0px;
}

.floater-section{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix{
    clear: both;
}

  /*----------SMALL SCREENS----------*/
@media(min-width:450px){
    .container{
        width: 440px;
    }

    .small-width-25{
        width: 25%;
    }

    .small-width-33{
        width: 33.3333%;
    }

    .small-width-50{
        width: 50%;
    }

    .small-width-66{
        width: 66.6666%;
    }

    .small-width-75{
        width: 75%;
    }

    .small-width-100{
        width: 100%;
    }
}

/*----------MEDIUM SCREENS----------*/
@media(min-width:768px){
    .container{
        width: 760px;
    }

    .medium-width-25{
        width: 25%;
    }

    .medium-width-33{
        width: 33.3333%;
    }

    .medium-width-50{
        width: 50%;
    }

    .medium-width-66{
        width: 66.6666%;
    }

    .medium-width-75{
        width: 75%;
    }

    .medium-width-100{
        width: 100%;
    }
}

/*----------LARGE SCREENS----------*/
@media(min-width:992px){
    .container{
        width: 960px;
    }

    .large-width-25{
        width: 25%;
    }

    .large-width-33{
        width: 33.3333%;
    }

    .large-width-50{
        width: 50%;
    }

    .large-width-66{
        width: 66.6666%;
    }

    .large-width-75{
        width: 75%;
    }

    .large-width-100{
        width: 100%;
    }
}