.container{
    padding-top: 30px;
    margin: auto;
    background-color: rgb(36, 35, 27);
}
.floater-section{
    padding-top: 20px;
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix{
    clear: both;
}

.content{
    padding: 0px 10px;
    min-height: 560px;
    border-bottom: 2px solid rgb(202, 122, 202);
    position: relative;
}

/*----------SMALL SCREENS----------*/
@media(min-width:450px){
    .container{
        width: 440px;
    }

    .small-width-25{
        width: 25%;
    }

    .small-width-33{
        width: 33.3333%;
    }

    .small-width-50{
        width: 50%;
    }

    .small-width-100{
        width: 100%;
    }
}

/*----------MEDIUM SCREENS----------*/
@media(min-width:768px){
.content{
    min-height: 680px;
}

    .container{
        width: 760px;
    }

    .medium-width-25{
        width: 25%;
    }

    .medium-width-33{
        width: 33.3333%;
    }

    .medium-width-50{
        width: 50%;
    }

    .medium-width-100{
        width: 100%;
    }
}

/*----------LARGE SCREENS----------*/
@media(min-width:992px){
    .content{
        min-height: 610px;
    }
    .container{
        width: 960px;
    }

    .large-width-25{
        width: 25%;
    }

    .large-width-33{
        width: 33.3333%;
    }

    .large-width-50{
        width: 50%;
    }

    .large-width-100{
        width: 100%;
    }
}