@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Charm');

body{
    background-color: whitesmoke;
}

nav.navbar{
    background-color: rgb(36, 35, 27);
    width: 100%;
    padding: 10px 0px;
}

nav.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav.navbar a{
    font-size: 22px;
    text-decoration: none;
    color: rgb(202, 122, 202);
    line-height: 36px;
    font-family: 'Raleway', sans-serif;
}

.active-link{
    border-bottom: 2px solid whitesmoke;
    margin: 0px 100px;
    font-weight: 900;
}

.content .img-container{
    min-height: 160px;
}

.content img{
    max-width: 100%;
}

.content .abs-pos{
    position: absolute;
}

h1, h2, p{
    text-align: center;
}

h2{
    margin-bottom: 0px;
    font-family: 'Neucha', cursive;
}

h1{
    margin-top: 10px;
    font-family: 'Charm', cursive;
    font-size: 80px;
    margin: 30px auto;
    color: rgb(36, 35, 27);

}

p{
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

p a{
    color: rgb(202, 122,202);
    text-decoration: none;
    font-family: 'Charm', cursive;
    font-size: 26px;
}